<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learning.dagger2">

    <application
        android:name=".LComponentFactory.ComponentFactoryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LComponentFactory.ComponentFactoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KSubComponentBuilder.SubComponentBuilderActivity">
        </activity>
        <activity android:name=".JSubComponent.SubComponentActivity"></activity>
        <activity android:name=".ICustomScopesAndComponentDependencies.CustomScopesAndComponentDependenciesActivity" />
        <activity android:name=".HSingletonAnotation.SingleAnotationActivity" />
        <activity android:name=".GcomponentBuilderBindInstanceNamed.ComponentBuilderBindInstanceNamedActivity" />
        <activity android:name=".FruntimeValueInjection.RuntimeValueInjection" />
        <activity android:name=".EprovidingInterfaceWithBind.InterfaceWithBindActivity" />
        <activity android:name=".DmoduleAndProvider.ModuleAndProviderActivity" />
        <activity android:name=".CmethodInjection.MethodInjectionActivity" />
        <activity android:name=".BfieldInjection.FieldInjectionActivity" />
        <activity android:name=".AconstructorInjection.ConstructorInjectionActivity" />
        <activity android:name=".withoutDagger2.WithoutDaggerActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>